* {
    margin: 0;
    padding: 0;
    font-family: arial;
    color: #ffffff;
}

body{
    background-color: #5A5A5A;
}

.wrapper {
    width: 90%;
    margin: 0 auto;
}

.contact-banner {
    width: 100%;
    height: 200px;
    display: block;
    padding-top: 10px;
}
.img-me {
    max-width: 30%;
    max-height: 90%;
    float: left;
    border-radius: 50%;
    padding: 10px 0px 0px 10px;
}

.contact-details{
    float: right;
    width: 65%;
}

.div-text {
    width: 94%;
    margin: 0 auto;
}

.div-skills {
    width: 94%;
    margin: 0 auto;
}

.div-educ {
    width: 94%;
    margin: 0 auto;
}

ul {
    padding: 0px 0px 0px 20px;
    font-size: 14px;
    text-align: justify;
}

p {
    font-size: 14px;
    text-align: justify;
}

.div-job{
    padding-top: 10px;
}

@media only screen and (min-width: 768px) {

.contact-banner {
    width: 70%;
    margin: 0 auto;
    background-color: #ff0000;
}

}

@media only screen and (min-width: 1000px) {
}

